services:
  app:
    build:
      context: ..
      dockerfile: .devcontainer/Dockerfile
    volumes:
      - ..:/workspace:cached
    command: /bin/sh -c "while sleep 1000; do :; done"
    # VS Code Dev Containers expects the user to exist already (from the base image)
    user: vscode
    init: true
    shm_size: '2gb'
