---
import LandingHeader from "./welcome/LandingHeader";
import LandingHero from "./welcome/LandingHero";
import AboutMeSection from "./welcome/AboutMeSection";
import FeaturedProjectsSection from "./welcome/FeaturedProjectsSection";
import TechStackSection from "./welcome/TechStackSection";
import ContactCTA from "./welcome/ContactCTA";
import LandingFooter from "./welcome/LandingFooter";
---

<LandingHeader />
<main>
  <LandingHero />
  <AboutMeSection />
  <FeaturedProjectsSection />
  <TechStackSection />
  <ContactCTA />
</main>
<LandingFooter />
